<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p (%40F:%3L) - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.opencypher.grammar.tools.antlr.BNFListener" level="warn"/>
		<Root level="warn">
			<AppenderRef ref="consoleAppender"/>
		</Root>
	</Loggers>
</Configuration>
